

.datosContenedor {
    display:flex;
    justify-content: space-around;
    background-color: gray;
    width: auto;
    height: 200px;
}

.datosImagen {
    background-color: sienna;
    width: 80px;
    height: 80px;
}

.datosH2 {
    /* background-color: goldenrod;
    width: 80px;
    height: 80px; */
    font-family: "Cormorant Infant", serif;
    color: white;
    font-size: 20px;

}

.datosBoton {
    /* background-color: silver;
    width: 80px;
    height: 80px; */
    color: blue 
}

.botonDatos {
    background-color: #25D366;
    color:white
    
}